# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# Streamlit secrets
.streamlit/secrets.toml

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs or temporary files
*.log
*.tmp

# VSCode settings (optional)
.vscode/
# Streamlit secrets
.streamlit/secrets.toml
